_build/
_build/.doctrees/environment.pickle
_build/.doctrees/glue_cache.json
_build/.doctrees/intro.doctree
_build/.doctrees/markdown.doctree
_build/.doctrees/notebooks.doctree
_build/.doctrees/partial_security.doctree
_build/.doctrees/customary/EnclosureOutline_Oct.doctree
_build/.doctrees/notebooks/enclosure_model.doctree
_build/.doctrees/notebooks/intro.doctree
_build/.jupyter_cache/global.db
_build/.jupyter_cache/executed/063e8a15c6865324da6b40b04d338e1c/base.ipynb
_build/html/.buildinfo
_build/html/content.html
_build/html/genindex.html
_build/html/index.html
_build/html/intro.html
_build/html/markdown.html
_build/html/notebooks.html
_build/html/objects.inv
_build/html/partial_security.html
_build/html/search.html
_build/html/searchindex.js
_build/html/_images/africa_worker.jpg
_build/html/_images/cocoa.jpg
_build/html/_images/enclosure_model_27_0.png
_build/html/_images/enclosure_model_33_0.png
_build/html/_images/enclosure_model_36_0.png
_build/html/_images/enclosure_model_39_0.png
_build/html/_images/enclosure_model_40_0.png
_build/html/_images/enclosure_model_56_0.png
_build/html/_images/enclosure_model_58_0.png
_build/html/_images/enclosure_model_60_0.png
_build/html/_images/monopoly.png
_build/html/_images/nash_eq.png
_build/html/_images/nash_eq1.png
_build/html/_images/nash_so_comp.png
_build/html/_images/nash_so_comp1.png
_build/html/_images/not4sale2.jpg
_build/html/_images/notebooks_2_0.png
_build/html/_images/social_optimum.png
_build/html/_images/social_optimum1.png
_build/html/_images/social_private.png
_build/html/_images/somalia_city.jpg
_build/html/_panels_static/panels-main.c949a650a448cc0ae9fd3441c0e17fb0.css
_build/html/_panels_static/panels-variables.06eb56fa6e07937060861dad626602ad.css
_build/html/_sources/content.md
_build/html/_sources/intro.md
_build/html/_sources/markdown.md
_build/html/_sources/notebooks.ipynb
_build/html/_sources/partial_security.md
_build/html/_sources/customary/EnclosureOutline_Oct.md
_build/html/_sources/notebooks/enclosure_model.ipynb
_build/html/_sources/notebooks/intro.md
_build/html/_static/__init__.py
_build/html/_static/basic.css
_build/html/_static/clipboard.min.js
_build/html/_static/copy-button.svg
_build/html/_static/copybutton_funcs.js
_build/html/_static/copybutton.css
_build/html/_static/copybutton.js
_build/html/_static/doctools.js
_build/html/_static/documentation_options.js
_build/html/_static/file.png
_build/html/_static/jquery-3.4.1.js
_build/html/_static/jquery-3.5.1.js
_build/html/_static/jquery.js
_build/html/_static/language_data.js
_build/html/_static/logo2.png
_build/html/_static/minus.png
_build/html/_static/mystnb.css
_build/html/_static/panels-main.c949a650a448cc0ae9fd3441c0e17fb0.css
_build/html/_static/panels-variables.06eb56fa6e07937060861dad626602ad.css
_build/html/_static/plus.png
_build/html/_static/pygments.css
_build/html/_static/searchtools.js
_build/html/_static/sphinx-book-theme.be0a4a0c39cd630af62a2fcf693f3f06.js
_build/html/_static/sphinx-book-theme.bfb7730f9caf2ec0b46a44615585038c.css
_build/html/_static/sphinx-book-theme.css
_build/html/_static/sphinx-thebe.css
_build/html/_static/sphinx-thebe.js
_build/html/_static/togglebutton.css
_build/html/_static/togglebutton.js
_build/html/_static/underscore-1.3.1.js
_build/html/_static/underscore.js
_build/html/_static/webpack-macros.html
_build/html/_static/__pycache__/__init__.cpython-37.pyc
_build/html/_static/css/index.d431a4ee1c1efae0e38bdfebc22debff.css
_build/html/_static/images/logo_binder.svg
_build/html/_static/images/logo_colab.png
_build/html/_static/images/logo_jupyterhub.svg
_build/html/_static/js/index.30270b6e4c972e43c488.js
_build/html/_static/vendor/fontawesome/5.13.0/LICENSE.txt
_build/html/_static/vendor/fontawesome/5.13.0/css/all.min.css
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.eot
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.svg
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.ttf
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.eot
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.svg
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.ttf
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.woff
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.woff2
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.eot
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.svg
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.ttf
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff
_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/index.css
_build/html/_static/vendor/lato_latin-ext/1.44.1/LICENSE.md
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-100-italic.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-100-italic.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-100.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-100.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-300-italic.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-300-italic.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-300.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-300.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-400-italic.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-400-italic.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-400.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-400.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-700-italic.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-700-italic.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-700.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-700.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-900-italic.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-900-italic.woff2
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-900.woff
_build/html/_static/vendor/lato_latin-ext/1.44.1/files/lato-latin-ext-900.woff2
_build/html/_static/vendor/open-sans_all/1.44.1/index.css
_build/html/_static/vendor/open-sans_all/1.44.1/LICENSE.md
_build/html/_static/vendor/open-sans_all/1.44.1/files/open-sans-all-400-italic.woff
_build/html/_static/vendor/open-sans_all/1.44.1/files/open-sans-all-400-italic.woff2
_build/html/_static/vendor/open-sans_all/1.44.1/files/open-sans-all-400.woff
_build/html/_static/vendor/open-sans_all/1.44.1/files/open-sans-all-400.woff2
_build/html/customary/EnclosureOutline_Oct.html
_build/html/notebooks/enclosure_model.html
_build/html/notebooks/intro.html
_build/jupyter_execute/notebooks_2_0.png
_build/jupyter_execute/notebooks.ipynb
_build/jupyter_execute/notebooks.py
_build/jupyter_execute/notebooks/enclosure_model_27_0.png
_build/jupyter_execute/notebooks/enclosure_model_33_0.png
_build/jupyter_execute/notebooks/enclosure_model_36_0.png
_build/jupyter_execute/notebooks/enclosure_model_39_0.png
_build/jupyter_execute/notebooks/enclosure_model_40_0.png
_build/jupyter_execute/notebooks/enclosure_model_56_0.png
_build/jupyter_execute/notebooks/enclosure_model_58_0.png
_build/jupyter_execute/notebooks/enclosure_model_60_0.png
_build/jupyter_execute/notebooks/enclosure_model.ipynb
_build/jupyter_execute/notebooks/enclosure_model.py
_build/pdf/book.pdf
